@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
}
.mainText {
  font-family: "Anton";
}
