@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
/* .mainText {
  font-family: "Anton";
}
.secondaryText {
  font-size: 3rem;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}
